body {
    background-color: aquamarine;
}

#dropdowns {
    display: flex;
    gap: 10px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-button {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    height: 30px;
}

.dropdown-button:hover {
    background-color: rgba(199, 199, 199, 0.671);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10%;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

.dropdown-content a:hover {
    background-color: rgba(199, 199, 199, 0.671);
}

/* has to be after .dropdownContent since it overrides display:none */
.show {
    display: block;
}

#carousel-container {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

#carousel {
    border: 5px solid purple;
    position: relative;
    overflow: hidden;
}

#carousel,
.slide img{
    width: 200px;
    aspect-ratio: 16 / 9;
}

#slides {
    display: flex;
    flex-grow: 0;
    position: absolute;
}

#slide-dots {
    display: flex;
    width: 210px;
    justify-content: center;
    gap: 10px;
}

.slide-dot {
    height: 20px;
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.slide-dot.current {
    background-color: black;
}

#carousel-buttons {
    width: 210px;
    display: flex;
    justify-content: space-between;
}

#carousel-back-button,
#carousel-forward-button {
    width: 50px;
    height: 20px;
    cursor: pointer;
}