body {
    background-color: aquamarine;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdownImage {
    height: 20px;
}

.dropdownButton {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
}

.dropdownButton:hover {
    background-color: rgba(199, 199, 199, 0.671);
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10%;
}

.dropdownContent a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

.dropdownContent a:hover {
    background-color: rgba(199, 199, 199, 0.671);
}

/* has to be after .dropdownContent since it overrides display:none */
.show {
    display: block;
}